body {
  background-color: black;
  padding: 0;
  margin: 0;
}

h1,
.text,
.kost {
  font-family: "ITC Cushing Std";
  color: white;
}

h1 {
  display: flex;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 7%;
  margin-left: 1.5%;
  overflow: hidden;
}

.Bilder {
  box-shadow: 0 0 0 transparent;
  transition: box-shadow 0.3s ease;
  position: relative;
  width: 92%;
  height: 92%;
}

/*.glow {
  box-shadow: 0 0 11px 6px rgba(255, 255, 255, 0.2);
}*/

.info {
  position: relative;
}

.text,
.kost {
  position: absolute;
  padding: 5px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.kost {
  bottom: 0;
  left: 0;
}

.text {
  top: 0;
  left: 0;
}

.påse img {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 92%;
  height: 92%;
}

.påse {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 25px;
}

.handla {
  display: flex;
  justify-content: space-between;
}

.handla img {
  height: 50px;
  width: auto;
}

.kasse {
  padding-top: 0px;
  padding-right: 0px;
}

.log {
  padding-left: 10px;
  padding-top: 12px;
}

.pil img,
.tillbaks img,
.baka img {
  height: 20px;
  width: auto;
}

.pil {
  display: flex;
  margin-top: 5%;
}

.sida {
  margin-left: 47%;
}

.plus {
  margin-left: 4%;
}

.tillbaks {
  display: flex;
  margin-top: 5%;
  padding-left: 43%;
}

a {
  padding-right: 0px;
  margin-right: 0%;
  padding-top: 10px;
}

p {
  color: white;
  font-family: "ITC Cushing Std";
  font-size: smaller;
  padding-right: 10px;
  padding-left: 10px;
}

.baka {
  display: flex;
  margin-top: 5%;
}

.nav {
  display: flex;
  padding-left: 42%;
  padding-bottom: 2%;
}

.add-X {
  border: none;
  background: none;
  padding-left: 5%;
  cursor: pointer;
}

.add-X img {
  height: 35px;
  width: auto;
  display: block;
}

#cart-count {
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 20px;
  width: 10px;
  padding-left: 2px;
  padding-top: 1px;
}

.kart {
  background-color: white;
  border-radius: 10px;
  height: 20px;
  width: 10px;
  padding-left: 2px;
  padding-top: 1px;
}

.hörn {
  display: flex;
  padding-top: 15px;
  padding-right: 10px;
}
@media screen and (max-width: 600px) {
  .påse,
  .handla {
    flex-direction: column;
    align-items: center;
  }

  .påse img {
    margin-left: 0;
  }

  .container {
    margin-top: 10%;
    margin-left: 0;
  }

  .text,
  .kost {
    position: relative;
    opacity: 1;
  }

  .påse {
    position: static;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .container {
    flex-direction: column;
  }

  .info {
    width: 100%;
    margin-bottom: 20px;
  }

  .nav {
    padding-left: 60px;
  }

  body {
    overflow-x: hidden;
  }
  .mainBody {
    overflow-x: hidden;
  }

  .tillbaks {
    padding-left: 90px;
  }

  .sida {
    margin-left: 120px;
  }

  .mainBody {
    padding-left: 0;
  }

  .Bilder {
    padding-left: 5px;
  }
  .meny ul {
    flex-direction: column;
  }
  /*kolla vad som behövs - och fixa index - menyn och validera*/
}
