body {
  background-color: black;
  background-image: url(rödring.jpeg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

h1 {
  font-family: "Antiqua Roman", serif;
  padding-right: 0px;
  padding-top: 15px;
  padding-left: 10px;
  margin: 0px;
  color: white;
}

.meny {
  padding: 1px 2px;
  display: flex;
  justify-content: space-between;
}

.smycken {
  padding-left: 0px;
  padding-top: 15px;
}

ul {
  padding-bottom: 0px;
}

.meny ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.meny ul li {
  display: flex;
}

.meny ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.meny h1 {
  width: 250px;
}

.påse img {
  height: 50px;
  width: auto;
  margin-left: auto;
}

.påse {
  display: flex;
  padding-left: 0px;
  padding-top: 15px;
  padding-right: 10px;
  width: 250px;
}

a,
h2 {
  font-family: "ITC Cushing Std";
  color: white;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
  font-size: small;
}

.insta,
.tik,
.xx,
.face {
  height: 20px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.p-info {
  display: flex;
  padding-top: 13%;
  padding-left: 17%;
  align-items: center;
  justify-content: center;
}

.punkt {
  height: 50px;
  width: auto;
}

.text {
  display: flex;
  font-family: "ITC Cushing Std";
  color: black;
  border-radius: 20px;
  background-color: white;
  width: 9%;
  justify-content: center;
  align-items: center;
}
