h1,
h2 {
  font-family: "ITC Cushing Std";
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1%;
}

body {
  margin: 0;
}

h3 {
  font-family: "ITC Cushing Std";
  align-items: center;
  display: flex;
  justify-content: center;
}

h3:hover {
  color: gray;
}

.handla {
  display: flex;
  justify-content: space-between;
}

.handla img {
  height: 50px;
  width: auto;
}

.log {
  padding-top: 16px;
  padding-right: 12px;
  padding-left: 12px;
}

#korg {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.korg-item {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.korg-text {
  text-align: center;
  width: 100%;
}

#total-kost {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tunna {
  height: 19px;
  width: auto;
}

button {
  background: none;
  border: none;
}

.pro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kart {
  padding-top: 28px;
  padding-left: 0.5%;
  font-size: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

h4 {
  color: white;
  font-family: "ITC Cushing Std";
}

@media screen and (max-width: 600px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 20px;
  }

  h4 {
    padding-top: 20px;
  }
  .handla {
    flex-direction: column;
    align-items: center;
  }

  .handla img {
    height: auto;
    width: 50%;
  }

  .tunna {
    height: 15px;
    width: auto;
  }

  .log {
    padding-left: 75px;
  }
}
