body {
  background-color: black;
  padding: 0;
  margin: 0;
}

h1,
.text,
.kost {
  font-family: "ITC Cushing Std";
  color: white;
}

h1 {
  display: flex;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 7%;
  margin-left: 1.5%;
  overflow: hidden;
}

.Bilder {
  box-shadow: 0 0 0 transparent;
  transition: box-shadow 0.3s ease;
  position: relative;
  width: 92%;
  height: 92%;
}

/*.glow {
  box-shadow: 0 0 11px 6px rgba(255, 255, 255, 0.2);
}*/

.info {
  position: relative;
}

.text,
.kost {
  position: absolute;
  padding: 5px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.kost {
  bottom: 0;
  left: 0;
}

.text {
  top: 0;
  left: 0;
}

.påse img {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 92%;
  height: 92%;
}

.påse {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 35px;
  width: auto;
  margin-right: 25px;
}

.handla {
  display: flex;
  justify-content: space-between;
}

.handla img {
  height: 50px;
  width: auto;
}

.kasse,
.log {
  padding-top: 16px;
  padding-right: 12px;
}

.log {
  padding-left: 12px;
}

.pil img,
.tillbaks img,
.baka img {
  height: 20px;
  width: auto;
}

.pil {
  display: flex;
  margin-top: 5%;
}

.sida {
  margin-left: 47%;
}

.plus {
  margin-left: 4%;
}

.tillbaks {
  display: flex;
  margin-top: 5%;
  padding-left: 43%;
}

a {
  padding-top: 11px;
  padding-right: 0px;
}

p {
  color: white;
  font-family: "ITC Cushing Std";
  font-size: smaller;
  padding-right: 10px;
  padding-left: 10px;
}

.baka {
  display: flex;
  margin-top: 5%;
}

.nav {
  display: flex;
  padding-left: 42%;
}
