h1 {
  font-family: "Antiqua Roman", serif;
  padding-left: 10px;
  color: white;
}

body {
  background-color: black;
  background-image: url(rödring.jpeg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-banner {
  background-color: rgba(128, 128, 128, 0.5);
  padding: 10px 20px;
  display: flex;
}
.menu-banner .smycken ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-banner .smycken ul li {
  display: flex;
}

.menu-banner .smycken ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
.smycken {
  align-items: center;
  display: flex;
  padding-left: 50px;
  justify-content: center;
}
