body {
  background-color: black;
  background-image: url(rödring.jpeg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

h1 {
  font-family: "Antiqua Roman", serif;
  padding-right: 0px;
  padding-top: 15px;
  padding-left: 10px;
  margin: 0px;
  color: white;
}

.meny {
  padding: 1px 2px;
  display: flex;
  justify-content: space-between;
}

.smycken {
  padding-left: 0px;
  padding-top: 15px;
}

ul {
  padding-bottom: 0px;
}

.meny ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.meny ul li {
  display: flex;
}

.meny ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.meny h1 {
  width: 250px;
}

.påse img {
  height: 50px;
  width: auto;
  margin-left: auto;
}

.påse {
  display: flex;
  padding-left: 0px;
  padding-top: 15px;
  padding-right: 10px;
  width: 250px;
}

a {
  font-family: "ITC Cushing Std";
}
